.container{
    border: solid 5px;
    border-style: double;
    border-color: darkgoldenrod;
    border-top-right-radius: 5%;
    padding: 20px 70px 20px 70px;
    margin:200px;
    margin: 0 auto;
    width: 50%;
}
.inner-container{
    border: dashed rgb(17, 13, 17) 2px;
    text-align: center;

   
}